<div class="modal fade" id="Modal1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Social Link</h4>
      </div>
      <div class="modal-body form-inline">
        <%= form_for :identity, :method => 'put', html: { id: 'edit_social_form'} do |f| %>
            <!--<%=f.select :provider, options_for_select([ "facebook", "linkedin", "twitter", "google" ], "facebook"), {}, class:"form-control" %> -->
            <%=f.url_field :url, placeholder: "Type url...", class:"form-control", id: '_url' %>
            <%=f.submit 'Save', class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>